---
layout: default
home: true
---

<div style="text-align: center;">

<h1>خلاصه‌های کنش انسان</h1>

<p> این وبلاگ به خلاصه و تحلیل کتاب <b>کنش انسانی</b> اثر لودویگ فون میزس، یکی از ارکان اقتصاد اتریش، اختصاص دارد. ما ایده‌ها و بینش‌های کلیدی آن را به مقالات قابل فهم بخش می‌کنیم. </p>

<p> چه دانشجوی اقتصاد باشید و چه فقط در مورد آثار میزس کنجکاو باشید، این وبلاگ به شما کمک می‌کند تا ایده‌های پیچیده و در عین حال عمیق کتاب را بهتر درک کنید. </p>

<div class="center-container">
  <a href="/summaries/" class="btn">برای خواندن خلاصه‌ها اینجا کلیک کنید</a>
</div>
<style>
.center-container {
  text-align: center;
  /* Centers the content within this div */
}

.btn {
  display: inline-block;
  /* Makes the <a> element behave like a block element but inline */
  padding: 10px 20px;
  /* Adjust padding as needed */
  border: 1px solid grey;
  /* Black border */
  text-decoration: none;
  /* Remove underline from link */
  border-radius: 0px;
  /* optional, makes the corners square*/

}

.btn:hover {
  background-color: #eee;
  /* Light grey on hover */
}
</style>
